<section class="space-between score-field">
  <img class="logo" src="../assets/logo.png" alt="baosteel">
  <div>
    <div class="welder-name">焊机{{data.machine_name}}</div>
    <div class="space-around">
      <img class="health-logo" src="../assets/health.png" alt="baosteel">
      <span class="health-desc">健康评分：</span>
      <span class="health-score success-score">{{data.current_machine_score}}</span>
    </div>
  </div>
</section>
<section>
  <div class="item-title success-back space-between">
    <div class="center first-item">
    <img  class="alert"  src="../assets/alert.png" alt="警告">
    <span class="">上次钢卷号: {{data.coil_id}}</span>
  </div>
    <span class="item">电流(kA)</span>
    <span class="item">速度(m/min)</span>
    <span class="item">焊轮压力(kN)</span>
    <span class="item">夹钳压力(kN)</span>
    <span class="item">搭接量(mm)</span>
    <span class="item">搭接补偿(mm)</span>
  </div>
  <div class="item-data space-between">
    <span class="first-item">智能推荐参数</span>
    <span class="item">{{data.predict_current}}</span>
    <span class="item">{{data.predict_speed}}</span>
    <span class="item">{{data.predict_pressure}}</span>
    <span class="item">{{data.predict_swaging_pressure}}</span>
    <span class="item">{{data.predict_lap_length}}</span>
    <span class="item">{{data.predict_lap_compe}}</span>
  </div>
  <div class="item-data space-between">
    <span class="first-item">人工设定参数</span>
    <div class="item success-score">
      <span>{{data.setting_current}}</span>
      <span class="upper-triangle"></span>
    </div>
    <div class="item success-score">
      <span>{{data.setting_speed}}</span>
      <span class="lower-triangle"></span>
    </div>
    <div class="item success-score">
      <span>{{data.setting_pressure}}</span>
      <span class="upper-triangle"></span>
    </div>
    <div class="item  success-score">
      <span>{{data.setting_swaging_pressure}}</span>
      <span class="upper-triangle"></span>
    </div>
    <div class="item success-score">
      <span>{{data.setting_lap_length}}</span>
      <span class="upper-triangle"></span>
    </div>
    <div class="item success-score">
      <span>{{data.setting_lap_compe}}</span>
      <span class="upper-triangle"></span>
    </div>
  </div>
</section>
<section class="space-around">
  <div id="rander">
    <echart [chartType]="radar" class="rander-chart"></echart>
  </div>
  <div id="line">
    <echart [chartType]="lineChart" class="line-chart"></echart>
  </div>
</section>
<section>
  <div class="item-title space-between next-field">
    <span class="first-item">下次钢卷号: 55421342</span>
    <span class="item">电流(kA)</span>
    <span class="item">速度(m/min)</span>
    <span class="item">焊轮压力(kN)</span>
    <span class="item">夹钳压力(kN)</span>
    <span class="item">搭接量(mm)</span>
    <span class="item">搭接补偿(mm)</span>
  </div>
  <div class="item-data space-between next-data">
    <span class="first-item">智能推荐参数</span>
    <span class="item">14</span>
    <span class="item">15</span>
    <span class="item">8</span>
    <span class="item">1</span>
    <span class="item">10</span>
    <span class="item">8</span>
  </div>
</section>
