.score-field {
  width: 100%;
  height: 100px;
}

.welder-name {
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -1.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.logo {
  width: 208px;
  height: 45px;
}

.health-logo {
  height: 25px;
  width: 23px;
}

.health-desc {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: -0.39px;
  line-height: 18px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.health-score {
  font-size: 24px;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.success-score {
  color: #7ED321;
}

.fail-score {
  color: #EE3124;
}

.alert{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.item-title {
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.32px;
  line-height: 18px;
  opacity: 0.8;
  background: #041323;
  margin-bottom: 2px;
}

.success-back {
  background: #94C92B;
  opacity: 0.8;
}

.error-back {
  background: #DE503A;
  opacity: 0.8;
}

.fail-backgroud {
  opacity: 0.8;
  background: #DE503A;
}

.first-item {
  width: 25vw;
  height: 60px;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.43px;
  line-height: 60px;
}

.item {
  height: 60px;
  width: 11vw;
  line-height: 60px;
  text-align: center;
}

.item-data {
  width: 100%;
  height: 90px;
  font-size: 48px;
  letter-spacing: -0.86px;
  color: #FFFFFF;
  line-height: 18px;
  opacity: 0.8;
  background: #041323;
  margin-bottom: 2px;
}

#rander {
  width: 30%;
  height: 505px;
  opacity: 0.8;
  background: #041323;
  position: relative;
  margin-right: 2px;
}

#line {
  width: 70%;
  height: 505px;
  opacity: 0.8;
  background: #041323;
}

.next-field {
  opacity: 0.6;
  background: #041323;
}

.next-data {
  opacity: 0.8;
  background: #041323;
}

.upper-triangle {
  width: 10px;
  height: 16px;
  position: absolute;
  margin-left: 8px;
  margin-top: 22px;
  background-image: url('/assets/icon_arrow_up.png');
}

.lower-triangle {
  width: 10px;
  height: 16px;
  position: absolute;
  margin-left: 8px;
  margin-top: 22px;
  background-image: url('/assets/icon_arrow_down.png');
}

.rander-chart{
  width:100%;
  height:100%;
  position: absolute;
}

.line-chart{
  width:100%;
  height:100%;
  float:left;
}

.star-label{
  position: absolute;
  top:33.5%;
  left:37%;
  height:173px;
  width:173px;
  z-index:999;
  opacity: 0.5;
}

.star-label-up{
  display: block;
  font-size: 144px;
  color: #FFFFFF;
  letter-spacing: -6px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.star-label-down{
  display: block;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.43px;
  line-height: 18px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-top: -15px;
}
