<section class="space-between score-field">
  <img class="logo" src="../assets/logo.png" alt="baosteel">
  <div>
    <div class="welder-name" style="font-weight:bold">{{data.machine_name}}</div>
    <div class="space-around">
      <img class="health-logo" src="../assets/health.png" alt="baosteel">
      <span class="health-desc">健康评分：</span>
      <span class="health-score success-score">{{data.current_machine_score}}</span>
    </div>
  </div>
</section>
<section>
  <div class="item-title space-between"  [ngClass]="{'success-back':data.seamScoreOk ,'error-back':!data.seamScoreOk }">
    <div class="center first-item">
      <div *ngIf="!data.seamScoreOk ">
        <img class="alert"  src="../assets/alert.png" alt="警告">
      </div>
       <span style="font-weight:bold">上次钢卷号: {{data.coil_id}}</span>
    </div>
    <span class="item">电流(kA)</span>
    <span class="item">速度(m/min)</span>
    <span class="item">焊轮压力(kN)</span>
    <span class="item">夹钳压力(kN)</span>
    <span class="item">搭接量(mm)</span>
    <span class="item">搭接补偿(mm)</span>
  </div>
  <div class="item-data space-between">
    <span class="first-item">智能推荐参数</span>
    <span class="item">{{data.predict_current}}</span>
    <span class="item">{{data.predict_speed}}</span>
    <span class="item">{{data.predict_pressure}}</span>
    <span class="item">{{data.predict_swaging_pressure}}</span>
    <span class="item">{{data.predict_lap_length}}</span>
    <span class="item">{{data.predict_lap_compe}}</span>
  </div>
  <div class="item-data space-between">
    <span class="first-item">人工设定参数</span>
    <div class="item success-score">
      <span [ngClass]="{'fail-score':data.setting_current_asc || data.setting_current_desc }">{{data.setting_current}}</span>
      <span  *ngIf="data.setting_current_asc" class="upper-triangle"></span>
      <span *ngIf="data.setting_current_desc" class="lower-triangle"></span>
    </div>
    <div class="item success-score">
      <span [ngClass]="{'fail-score':data.setting_speed_asc || data.setting_speed_desc }">{{data.setting_speed}}</span>
      <span  *ngIf="data.setting_speed_asc" class="upper-triangle"></span>
      <span *ngIf="data.setting_speed_desc" class="lower-triangle"></span>
    </div>
    <div class="item success-score">
      <span [ngClass]="{'fail-score':data.setting_pressure_asc || data.setting_pressure_desc }">{{data.setting_pressure}}</span>
      <span  *ngIf="data.setting_pressure_asc" class="upper-triangle"></span>
      <span *ngIf="data.setting_pressure_desc" class="lower-triangle"></span>
    </div>
    <div class="item  success-score">
      <span [ngClass]="{'fail-score':data.setting_swaging_pressure_asc || data.setting_swaging_pressure_desc }">{{data.setting_swaging_pressure}}</span>
      <span  *ngIf="data.setting_swaging_pressure_asc" class="upper-triangle"></span>
      <span *ngIf="data.setting_swaging_pressure_desc" class="lower-triangle"></span>
    </div>
    <div class="item success-score">
      <span [ngClass]="{'fail-score':data.setting_lap_length_asc || data.setting_lap_length_desc }">{{data.setting_lap_length}}</span>
      <span  *ngIf="data.setting_lap_length_asc" class="upper-triangle"></span>
      <span *ngIf="data.setting_lap_length_desc" class="lower-triangle"></span>
    </div>
    <div class="item success-score">
      <span>{{data.setting_lap_compe}}</span>
      <span  *ngIf="data.setting_lap_compe_asc" class="upper-triangle"></span>
      <span *ngIf="data.setting_lap_compe_desc" class="lower-triangle"></span>
    </div>
  </div>
</section>
<section class="space-around">
  <div id="rander">
    <echart [chartType]="radar" class="rander-chart"></echart>
    <!--<div class="star-label">-->
      <!--<span class="star-label-up">{{data.seam_score}}</span>-->
      <!--<span class="star-label-down">焊接质量评分</span>-->
    <!--</div>-->
    <div class="rander-down" >
      <div class="rander-child-down" *ngIf="data.quality_des==1||data.quality_des==2||data.quality_des==3">焊缝曲线合理性 <span class="alert-red">【很差】</span></div>
      <div class="rander-child-down" *ngIf="data.quality_des==2||data.quality_des==3">焊缝曲线稳定性<span class="alert-yellow">【较差】</span></div>
      <div class="rander-child-down" *ngIf="data.quality_des==3">焊缝曲线有效性<span class="alert-green">【欠佳】</span></div>
    </div>
  </div>

  <div id="line">
    <echart [chartType]="lineChart" class="line-chart"></echart>
  </div>
</section>
<section>
  <div class="item-title space-between next-field">
    <span class="first-item" style="font-weight:bold">下次钢卷号: -</span>
    <span class="item">电流(kA)</span>
    <span class="item">速度(m/min)</span>
    <span class="item">焊轮压力(kN)</span>
    <span class="item">夹钳压力(kN)</span>
    <span class="item">搭接量(mm)</span>
    <span class="item">搭接补偿(mm)</span>
  </div>
  <div class="item-data space-between next-data">
    <span class="first-item">智能推荐参数</span>
    <span class="item">-</span>
    <span class="item">-</span>
    <span class="item">-</span>
    <span class="item">-</span>
    <span class="item">-</span>
    <span class="item">-</span>
  </div>

  <div class="item-data space-between next-data">
    <span class="first-item">L2下发参数</span>
    <span class="item">{{data.l2_current}}</span>
    <span class="item">{{data.l2_speed}}</span>
    <span class="item">{{data.l2_wel_pressure}}</span>
    <span class="item">{{data.l2_clamp_pressure}}</span>
    <span class="item">{{data.l2_overlap_amount}}</span>
    <span class="item">{{data.l2_overlap_comp}}</span>
  </div>
</section>
