
<section class="space-between score-field">
<img class="logo" src="../assets/logo.png" alt="baosteel">
<div>
  <div class="welder-name">焊机A-006</div>
  <div class="space-around">
    <img class="health-logo" src="../assets/health.png" alt="baosteel"><span class="health-desc">健康评分：</span><span class="health-score">99</span>
  </div>
</div>
</section>
<section>
  <div class="item-title success-back space-between">
    <span  class="first-item">上次55421342【成功】</span>
    <span class="item">电流(kA)</span>
    <span class="item">速度(m/min)</span>
    <span class="item">焊轮压力(kN)</span>
    <span class="item">夹钳压力(kN)</span>
    <span class="item">搭接量(mm)</span>
    <span class="item">搭接补偿(mm)</span>
  </div>
  <div class="item-data space-between">
    <span  class="first-item">智能推荐参数</span>
    <span class="item">14</span>
    <span class="item">15</span>
    <span class="item">8</span>
    <span class="item">1</span>
    <span class="item">10</span>
    <span class="item">8</span>
  </div>
  <div class="item-data space-between">
    <span  class="first-item">人工设定参数</span>
    <span class="item">14</span>
    <span class="item">15</span>
    <span class="item">8</span>
    <span class="item">1</span>
    <span class="item">10</span>
    <span class="item">8</span>
  </div>
</section>
<section class="space-around">
  <div id="rander"></div>
  <div id="line"></div>
</section>
<section>
  <div class="item-title space-between next-field">
    <span  class="first-item">下次:55421342</span>
    <span class="item">电流(kA)</span>
    <span class="item">速度(m/min)</span>
    <span class="item">焊轮压力(kN)</span>
    <span class="item">夹钳压力(kN)</span>
    <span class="item">搭接量(mm)</span>
    <span class="item">搭接补偿(mm)</span>
  </div>
  <div class="item-data space-between next-data">
    <span  class="first-item">智能推荐参数</span>
    <span class="item">14</span>
    <span class="item">15</span>
    <span class="item">8</span>
    <span class="item">1</span>
    <span class="item">10</span>
    <span class="item">8</span>
  </div>
</section>