.score-field {
  width: 100%;
  height: 100px;
}

.welder-name {
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -1.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.logo {
  width: 208px;
  height: 45px;
}

.health-logo {
  background-image: url('../assets/health.png');
  height: 25px;
  width: 23px;
}

.health-desc {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: -0.39px;
  line-height: 18px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.health-score {
  font-size: 24px;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.success-score {
  color: #7ED321;
}

.fail-score {
  color: #EE3124;
}

.item-title {
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.32px;
  line-height: 18px;
  opacity: 0.8;
  background: #041323;
  border-bottom: rgb(134, 131, 131) solid 1px;
}

.success-back {
  background: #94C92B;
  opacity: 0.8;
}

.fail-backgroud {
  opacity: 0.8;
  background: #DE503A;
}

.first-item {
  width: 20vw;
  height: 60px;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.43px;
  line-height: 60px;
}

.item {
  height: 60px;
  width: 13vw;
  line-height: 60px;
  text-align: center;
}

.item-data {
  width: 100%;
  height: 90px;
  font-size: 48px;
  letter-spacing: -0.86px;
  color: #FFFFFF;
  line-height: 18px;
  opacity: 0.8;
  background: #041323;
  border-bottom: rgb(136, 134, 134) solid 1px;
}

#rander {
  width: 30%;
  height: 505px;
  opacity: 0.8;
  background: #041323;
}

#line {
  width: 70%;
  height: 505px;
  opacity: 0.8;
  background: #041323;
}

.next-field {
  opacity: 0.6;
  background: #041323;
}

.next-data {
  opacity: 0.8;
  background: #041323;
}

.upper-triangle {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  border: 10px solid transparent;
  border-bottom: 16px solid #EE3124;
}

.lower-triangle {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 16px solid #EE3124;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}
