/* You can add global styles to this file, and also import other style files */

body {
  padding: 1vw;
  margin: 0;
  background: url('./assets/bg.png')
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face{
  font-family: HoneywellSans-Extrabold;
  src: url('./assets/font/HoneywellSans-Extrabold.otf');
}
@font-face{
  font-family: HoneywellSans-Bold;
  src: url('./assets/font/HoneywellSans-Bold.otf');
}
@font-face{
  font-family: HoneywellSans-Medium;
  src: url('./assets/font/HoneywellSans-Medium.otf');
}
